* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.GyHeader {
    position: fixed;
    display: flex;
    top: 40px;
    left: 50%;
    transform: translateX9(-50%);
    z-index: 2;
    display: flex;
    padding: 3px 50px;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.23);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(255, 255, 255, 0.36);
}
